<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <!-- JQuery import  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- style.css 파일을 HTML 파일과 같은 폴더에 만들고, head 태그에서 불러오기 -->
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <!-- 구글폰트 -->

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <title>Box Office Top3</title>
        <script>
            var rank = new Array(3);
            var loadingDiv = document.getElementById('loading');
            $(document).ready(function () {
                showSpinner();
                showBoxoffice();
            })
            // $(function getDate() {
            //     $("#datepicker1").datepicker({
            //         dateFormat: 'yymmdd',
            //         dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            //         dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            //         dayNames: ["일", "월", "화", "수", "목", "금", "토"],
            //         onSelect: function () {
            //             var date = $.datepicker.formatDate("yymmdd", $("#datepicker1").datepicker("getDate"));
            //             console.log(date);
            //         }
            //     });
            // });


            // function sendDate() {
            //     let date1 = $('#datepicker1').val();
            //     console.log(date1)
            //     $.ajax({
            //         type: "POST",
            //         url: "/date",
            //         data: {'date': date1},
            //         success: function (response) { // 성공하면
            //             if (response["result"] == "success") {
            //             }
            //         }
            //     })
            // }


            function showBoxoffice() {
                $.ajax({
                    type: "GET",
                    url: "/box_office",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            let movieInfos = response['movie_infos'];
                            let kobisInfos = movieInfos['KOBIS'];
                            let cgvInfos = movieInfos['CGV'];
                            let naverInfos = movieInfos['Naver'];
                            let wactchaInfos = movieInfos['Watcha'];
                            let date = kobisInfos['date']

                            let rank1Title = kobisInfos['rank1_infos']['rank1'];
                            let rank1Goldenegg = cgvInfos['rank1_infos']['goldenegg1'];
                            let rank1Opendt = cgvInfos['rank1_infos']['openDt1'];
                            let rank1Poster = naverInfos['rank1_infos']['poster1'];
                            let rank1Nscore = naverInfos['rank1_infos']['naverscore1'];
                            let rank1Director = naverInfos['rank1_infos']['director1'];
                            let rank1Actors = naverInfos['rank1_infos']['actors1'];
                            let rank1Wscore = wactchaInfos['rank1_infos']['wscore1'];
                            let rank1Att = wactchaInfos['rank1_infos']['att1'];

                            let rank2Title = kobisInfos['rank2_infos']['rank2'];
                            let rank2Goldenegg = cgvInfos['rank2_infos']['goldenegg2'];
                            let rank2Opendt = cgvInfos['rank2_infos']['openDt2'];
                            let rank2Poster = naverInfos['rank2_infos']['poster2'];
                            let rank2Nscore = naverInfos['rank2_infos']['naverscore2'];
                            let rank2Director = naverInfos['rank2_infos']['director2'];
                            let rank2Actors = naverInfos['rank2_infos']['actors2'];
                            let rank2Wscore = wactchaInfos['rank2_infos']['wscore2'];
                            let rank2Att = wactchaInfos['rank2_infos']['att2'];

                            let rank3Title = kobisInfos['rank3_infos']['rank3'];
                            let rank3Goldenegg = cgvInfos['rank3_infos']['goldenegg3'];
                            let rank3Opendt = cgvInfos['rank3_infos']['openDt3'];
                            let rank3Poster = naverInfos['rank3_infos']['poster3'];
                            let rank3Nscore = naverInfos['rank3_infos']['naverscore3'];
                            let rank3Director = naverInfos['rank3_infos']['director3'];
                            let rank3Actors = naverInfos['rank3_infos']['actors3'];
                            let rank3Wscore = wactchaInfos['rank3_infos']['wscore3'];
                            let rank3Att = wactchaInfos['rank3_infos']['att3'];

                            hideSpinner();
                            makeCard(rank1Title, rank1Poster, rank1Goldenegg, rank1Nscore, rank1Opendt, rank1Director, rank1Actors, rank1Wscore, rank1Att,
                                rank2Title, rank2Poster, rank2Goldenegg, rank2Nscore, rank2Opendt, rank2Director, rank2Actors, rank2Wscore, rank2Att,
                                rank3Title, rank3Poster, rank3Goldenegg, rank3Nscore, rank3Opendt, rank3Director, rank3Actors, rank3Wscore, rank3Att);
                            showDate(date);

                        }

                    }
                })
            }

            function makeCard(rank1Title, rank1Poster, rank1Goldenegg, rank1Nscore, rank1Opendt, rank1Director, rank1Actors, rank1Wscore, rank1Att,
                              rank2Title, rank2Poster, rank2Goldenegg, rank2Nscore, rank2Opendt, rank2Director, rank2Actors, rank2Wscore, rank2Att,
                              rank3Title, rank3Poster, rank3Goldenegg, rank3Nscore, rank3Opendt, rank3Director, rank3Actors, rank3Wscore, rank3Att) {
                let tempHTML1 =
                    `<div class="card">
            <div class="card-image" style="background-image: url('${rank1Poster}')"></div>
            <!--  style="{background-image:'' " -->
            <div class="card-text">
                <span class="date">${rank1Opendt} 개봉</span>
                <h4>${rank1Title}</h4>
                <p>감독 : ${rank1Director}</p>
                <p>출연 : ${rank1Actors}</p>
                <p>${rank1Att}</p>
            </div>
            <div class="card-stats">
                <div class="stat">
                    <div class="value">${rank1Goldenegg}</div>
                    <div class="type">CGV 골든에그</div>
                </div>
                <div class="stat border">
                    <div class="value">${rank1Nscore}</div>
                    <div class="type">NAVER 평점</div>
                </div>
                <div class="stat">
                    <div class="value">${rank1Wscore}</div>
                    <div class="type">WATCHA PEDIA</div>
                </div>
            </div>
        </div>
             <div class="card">
            <div class="card-image card2" style="background-image: url('${rank2Poster}')"></div>
            <div class="card-text card2">
                <span class="date">${rank2Opendt} 개봉</span>
                <h4>${rank2Title}</h4>
                <p>감독: ${rank2Director}</p>
                <p>출연 : ${rank2Actors}</p>
                <p>${rank2Att}</p>
            </div>
            <div class="card-stats card2">
                <div class="stat">
                    <div class="value">${rank2Goldenegg}</div>
                    <div class="type">CGV 골든에그</div>
                </div>
                <div class="stat border">
                    <div class="value">${rank2Nscore}</div>
                    <div class="type">Naver 평점</div>
                </div>
                <div class="stat">
                    <div class="value">${rank2Wscore}</div>
                    <div class="type">WATCHA PEDIA</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image card3" style="background-image: url('${rank3Poster}')"></div>
            <div class="card-text card3">
                <span class="date">${rank3Opendt} 개봉</span>
                <h4>${rank3Title}</h4>
                <p>감독: ${rank3Director}</p>
                <p>출연 : ${rank3Actors}</p>
                <p>${rank3Att}</p>
            </div>
            <div class="card-stats card3">
                <div class="stat">
                    <div class="value">${rank3Goldenegg}</div>
                    <div class="type">CGV 골든에그</div>
                </div>
                <div class="stat border">
                    <div class="value">${rank3Nscore}</div>
                    <div class="type">Naver 평점</div>
                </div>
                <div class="stat">
                    <div class="value">${rank3Wscore}</div>
                    <div class="type">WATCHA PEDIA</div>
                </div>
            </div>
        </div>`
                $('#movies').append(tempHTML1);

            }

            function showDate(date) {
                let tempHTML2 = `
                <h6 style="color: aliceblue;font-size: 20px"><${date}기준></date기준></h6></div>`;
                $('#header').replaceWith(tempHTML2);
            }

            function showSpinner() {
                $(".loading").css('visibility', 'visible');
            }

            function hideSpinner() {
                $(".loading").css('visibility', 'hidden');
            }

        </script>
    </head>
    <body>
        <h2 style="text-align:center;margin-top: 20px;color:cornsilk;">국내 박스오피스 TOP3</h2>
        <div style="display: flex; justify-content: center;"><h6 id="header"></h6>
        </div>
<!--        <div class="calendar" style="display: flex; justify-content: center;"><input type="text" ; name="datepicker1"-->
<!--                                                                                     placeholder="날짜를 선택해주세요" ;-->
<!--                                                                                     id="datepicker1">-->

<!--            <button onclick="sendDate()">보기</button>-->
<!--        </div>-->
        <div class="container" id="movies" style="margin-top: 0px"></div>
        <div id="loading" class="loading">
            Loading
        </div>

    </body>
</html>